<!-- ## LOGO ## -->
<aside id="logo-bar">
    <div id="logo"><a href="/tracks"><img src="assets/images/template/logo.png"
                                          alt="LOGO"></a></div>
    <div id="ajax-load"></div>
</aside>

<!-- ## PAGE GLOBAL ## -->
<section id="page-global">

    <!-- ## NAV HEADER ## -->
    <header id="nav-header" class="clearfix">
        <!-- ## PRIMARY NAV ## -->
        <nav id="primary-nav">
            <ul class="clearfix">
                <li>
                    <a routerLink="/my-tracks">
                        <i class="icon-music-1"></i>
                        <p>My Tracks</p>
                    </a>
                </li>
                <li>
                    <a routerLink="/friends" id="friends">
                        <i class="icon-user-1"></i>
                        <p>Friends</p>
                    </a>
                </li>
                <li>
                    <a routerLink="/search" id="search">
                        <i class="icon-calendar-2"></i>
                        <p>Search</p>
                    </a>
                </li>
            </ul>
        </nav>

    </header>
    <!-- ## NAV HEADER END ## -->

    <!-- ## PAGE WRAPPER ## -->
    <div id="page-wrapper">

        <!-- ## PAGE ## -->
        <section id="page">

            <!-- ## FIXY WRAPPER ## -->
            <div id="fixy">
                <!-- ## PAGE HEADER ## -->


            </div>
            <!-- ## FIXY WRAPPER END ## -->

            <!-- ## PAGE CONTENT ## -->
            <div class="container">
                <router-outlet></router-outlet>
                <section id="page-content" class="albumPadding">

                    <!-- BLOG-META START -->
                    <!-- BLOG-META END -->

                    <!-- ## PLAYER ## -->

                    <div id="jp_container_1" class="jp-audio">
                        <div class="jp-type-playlist">
                            <div id="jquery_jplayer_1" class="jp-jplayer" style="width: 0px; height: 0px;"><img
                                    id="jp_poster_0" style="width: 0px; height: 0px; display: none;">
                            </div>
                            <div class="album-wrapper clearfix">
                                <div class="album-controls">
                                    <!-- ## TRACK INFO ## -->
                                    <div class="track-info">
                                        <h3 class="track-heading"><i class="icon-note-beamed"></i> <span id="th-title">Whistle Blower</span>
                                        </h3>
                                        <p class="track-by"><i class="icon-user-1"></i> <span id="th-artist">by Adam Jamescuz</span>
                                        </p>
                                    </div>
                                    <!-- ## CONTROLS ## -->
                                    <div class="jp-gui jp-interface">
                                        <div class="jp-volume-controls">
                                            <a href="javascript:;" class="jp-mute" role="button" tabindex="0"><i
                                                    class="icon-volume-off"></i></a>
                                            <div class="jp-volume-bar">
                                                <div class="jp-volume-bar-value"></div>
                                            </div>
                                            <a href="javascript:;" class="jp-volume-max" role="button" tabindex="0"><i
                                                    class="icon-volume-off"></i></a>

                                        </div>
                                        <ul class="jp-controls clearfix">
                                            <li><a href="javascript:;" class="jp-previous" tabindex="1"><i
                                                    class="icon-backward"></i></a></li>
                                            <li><a href="javascript:;" class="jp-play" tabindex="1"><i
                                                    class="icon-play"></i></a></li>
                                            <li><a href="javascript:;" class="jp-pause" tabindex="1"
                                                   style="display: none;"><i class="icon-pause"></i></a></li>
                                            <li><a href="javascript:;" class="jp-next" tabindex="1"><i
                                                    class="icon-forward"></i></a></li>
                                            <li><a href="javascript:;" class="jp-stop" tabindex="1"><i
                                                    class="icon-stop"></i></a></li>
                                        </ul>
                                        <!-- ## PROGRESS BAR ## -->
                                        <div class="jp-progress">
                                            <div class="jp-seek-bar" style="width: 100%;">
                                                <div class="jp-play-bar" style="width: 0%;"></div>
                                            </div>
                                            <div class="jp-current-time">00:00</div>
                                            <div class="jp-duration">03:56</div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- ## PLAY LIST ## -->
                            <div class="playlist-heading">Track List
                                <!-- ## SHUFFLE/REPEAT ## -->
                                <ul class="jp-toggles clearfix">
                                    <li><a href="javascript:;" class="jp-shuffle" tabindex="1" title="shuffle"><i
                                            class="icon-shuffle-1"></i> Shuffle</a></li>
                                    <li><a href="javascript:;" class="jp-shuffle-off" tabindex="1" title="shuffle off"
                                           style="display: none;"><i class="icon-shuffle-1"></i>Shuffle Off</a></li>
                                    <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat"><i
                                            class="icon-loop"></i> Repeat</a></li>
                                    <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off"
                                           style="display: none;"><i class="icon-loop"></i> Repeat Off</a></li>
                                </ul>
                            </div>
                            <!-- ## TRACK LIST ## -->
                            <div class="jp-playlist" id="overflow-scroll">
                                <ul class="scrollbar" id="style-15"></ul>
                            </div>
                            <!-- ## PLAYER FALLBACK ## -->
                            <div class="jp-no-solution" style="display: none;">
                                <span>Update Required</span>
                                To play the media you will need to either update your browser to a recent version or
                                update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
                            </div>
                        </div>
                    </div>
                    <!-- ## PLAYER END ## -->

                    <!-- POST CONTENT -->
                    <div class="postContent transparent">
                    </div>
                    <!-- POST CONTENT END -->

                </section>
                <!--<section id="page-content" class="albumPadding">-->

                <!--&lt;!&ndash; BLOG-META START &ndash;&gt;-->
                <!--&lt;!&ndash; BLOG-META END &ndash;&gt;-->


                <!--&lt;!&ndash; POST CONTENT &ndash;&gt;-->
                <!--<div class="postContent transparent">-->
                <!--</div>-->
                <!--&lt;!&ndash; POST CONTENT END &ndash;&gt;-->

                <!--</section>-->
            </div>
            <!-- ## PAGE CONTENT END ## -->

        </section>
        <!-- ## PAGE END ## -->

    </div>
    <!-- ## PAGE WRAPPER END ## -->

    <!-- ## FOOTER ## -->
    <footer id="PriFooter">
        <div class="container clearfix">
        </div>
    </footer>
    <!-- ## FOOTER END ## -->
</section>
<!-- ## PAGE GLOBAL END ## -->
<script type="text/javascript" src="../assets/js/template/init.js"></script>
<script type="text/javascript">
    $("#jquery_jplayer_1").bind($.jPlayer.event.loadeddata, function (event) {
        jPlayerPlus();
    });
</script>