<header id="friends-header" class="custom-header">
    <h1>Friends. <span id="chosen-friend">Choose friend</span></h1>
</header>
<section class="jp-playlist" id="friend-list">
    <ul class="friend-list friends" id="style-15">
        <li><a class="friend" href="#friend&amp;id=2301261" data-id="2301261"><img class="friend-img"
                                                                                   src="https://pp.vk.me/c625824/v625824261/1056d/xnUysMA_YEE.jpg"><span
                class="track-title">Назаров Беслан</span></a></li>
        <li><a class="friend" href="#friend&amp;id=5841046" data-id="5841046"><img class="friend-img"
                                                                                   src="https://pp.vk.me/c623822/v623822046/587af/_3loTHsVMaw.jpg"><span
                class="track-title">Живая Люська</span></a></li>
        <li><a class="friend" href="#friend&amp;id=6524701" data-id="6524701"><img class="friend-img"
                                                                                   src="https://pp.vk.me/c303404/u6524701/e_c1b012f8.jpg"><span
                class="track-title">Pestov Valerii</span></a></li>
        <li><a class="friend" href="#friend&amp;id=8056301" data-id="8056301"><img class="friend-img"
                                                                                   src="https://pp.vk.me/c314916/v314916301/c2af/lpDejo_-WFA.jpg"><span
                class="track-title">Савицкий Сергей</span></a></li>
        <li><a class="friend" href="#friend&amp;id=9764463" data-id="9764463"><img class="friend-img"
                                                                                   src="https://pp.vk.me/c9922/u9764463/e_d044f5bf.jpg"><span
                class="track-title">Пиковец Антон</span></a></li>
        <li><a class="friend" href="#friend&amp;id=11611174" data-id="11611174"><img class="friend-img"
                                                                                     src="https://pp.vk.me/c633317/v633317174/36297/kc5sFyYDngU.jpg"><span
                class="track-title">Ткачева Екатерина</span></a></li>
        <li><a class="friend" href="#friend&amp;id=11635890" data-id="11635890"><img class="friend-img"
                                                                                     src="https://pp.vk.me/c836324/v836324890/6d68/dazhOe_DXzY.jpg"><span
                class="track-title">Овсянникова Анна</span></a></li>
        <li><a class="friend" href="#friend&amp;id=12187195" data-id="12187195"><img class="friend-img"
                                                                                     src="https://pp.vk.me/c633916/v633916195/36136/c5dWGUnaFR0.jpg"><span
                class="track-title">Котова Василиса</span></a></li>
        <li><a class="friend" href="#friend&amp;id=12873992" data-id="12873992"><img class="friend-img"
                                                                                     src="https://pp.vk.me/c620025/v620025992/27a4c/ekxp0hTIDts.jpg"><span
                class="track-title">Копп Андрей</span></a></li>
        <li><a class="friend" href="#friend&amp;id=13820160" data-id="13820160"><img class="friend-img"
                                                                                     src="https://pp.vk.me/c638116/v638116160/5a15/vKrhoynJgN8.jpg"><span
                class="track-title">Петля Алексей</span></a></li>
        <li><a class="friend" href="#friend&amp;id=15197550" data-id="15197550"><img class="friend-img"
                                                                                     src="https://pp.vk.me/c405916/v405916550/b1bd/v2q1m7hfDU8.jpg"><span
                class="track-title">Лысак Артем</span></a></li>
        <li><a class="friend" href="#friend&amp;id=15225392" data-id="15225392"><img class="friend-img"
                                                                                     src="https://pp.vk.me/c630216/v630216392/3abbc/Be6Q1DCPW74.jpg"><span
                class="track-title">Придубко Дмитрий</span></a></li>
        <li><a class="friend" href="#friend&amp;id=15358733" data-id="15358733"><img class="friend-img"
                                                                                     src="https://pp.vk.me/c636123/v636123733/1f9c3/b6W4aEe8Fjw.jpg"><span
                class="track-title">Стрелец Анюта</span></a></li>
        <li><a class="friend" href="#friend&amp;id=16073729" data-id="16073729"><img class="friend-img"
                                                                                     src="https://pp.vk.me/c626222/v626222729/1f3a/5FwUIXZCxIk.jpg"><span
                class="track-title">Kniazeva Anna</span></a></li>
        <li><a class="friend" href="#friend&amp;id=18220849" data-id="18220849"><img class="friend-img"
                                                                                     src="https://pp.vk.me/c629114/v629114849/22de9/h5L36cqa5NI.jpg"><span
                class="track-title">Евсеенко Олег</span></a></li>
        <li><a class="friend" href="#friend&amp;id=22046592" data-id="22046592"><img class="friend-img"
                                                                                     src="https://pp.vk.me/c403227/v403227592/a4b9/dXodcsTQNJ0.jpg"><span
                class="track-title">Первый Александр</span></a></li>
        <li><a class="friend" href="#friend&amp;id=22455873" data-id="22455873"><img class="friend-img"
                                                                                     src="https://pp.vk.me/c624816/v624816873/446f/MQ7iyr32bd0.jpg"><span
                class="track-title">Виндюк Андрей</span></a></li>
        <li><a class="friend" href="#friend&amp;id=22598591" data-id="22598591"><img class="friend-img"
                                                                                     src="https://pp.vk.me/c637523/v637523591/7bcd/CC-mZl0ldcw.jpg"><span
                class="track-title">Логачёв Денис</span></a></li>
        <li><a class="friend" href="#friend&amp;id=25567091" data-id="25567091"><img class="friend-img"
                                                                                     src="https://pp.vk.me/c637227/v637227091/135c2/m781lO_pNeU.jpg"><span
                class="track-title">Куликов Андрей</span></a></li>
        <li><a class="friend" href="#friend&amp;id=29063188" data-id="29063188"><img class="friend-img"
                                                                                     src="https://pp.vk.me/c627322/v627322188/4099a/GGOIesXjmjQ.jpg"><span
                class="track-title">Борисенко Виктория</span></a></li>
        <li><a class="friend" href="#friend&amp;id=29219518" data-id="29219518"><img class="friend-img"
                                                                                     src="https://pp.vk.me/c633519/v633519518/4eaf8/KWXnCyb1kFI.jpg"><span
                class="track-title">Андреев Виталик</span></a></li>
        <li><a class="friend" href="#friend&amp;id=30011672" data-id="30011672"><img class="friend-img"
                                                                                     src="https://pp.vk.me/c615824/v615824672/20e35/wOtBSgSnEGo.jpg"><span
                class="track-title">Захарьева Анастасия</span></a></li>
        <li><a class="friend" href="#friend&amp;id=32203546" data-id="32203546"><img class="friend-img"
                                                                                     src="https://pp.vk.me/c604424/v604424546/20c2a/1tSFcRaFIUY.jpg"><span
                class="track-title">Гапеенко Алексей</span></a></li>
        <li><a class="friend" href="#friend&amp;id=32831850" data-id="32831850"><img class="friend-img"
                                                                                     src="https://pp.vk.me/c604424/v604424850/3deea/WmHyeRL7Gt0.jpg"><span
                class="track-title">Атабекян Арташ</span></a></li>
        <li><a class="friend" href="#friend&amp;id=32849128" data-id="32849128"><img class="friend-img"
                                                                                     src="https://pp.vk.me/c626224/v626224128/2deb0/6-v5HpWYeEc.jpg"><span
                class="track-title">Савула Егор</span></a></li>
        <li><a class="friend" href="#friend&amp;id=33387138" data-id="33387138"><img class="friend-img"
                                                                                     src="https://pp.vk.me/c638826/v638826138/39da/tpt7kuGJ9v8.jpg"><span
                class="track-title">Поникаров Никита</span></a></li>
        <li><a class="friend" href="#friend&amp;id=33604613" data-id="33604613"><img class="friend-img"
                                                                                     src="https://pp.vk.me/c301114/u33604613/e_c89a15ab.jpg"><span
                class="track-title">Сопельник Юлий</span></a></li>
        <li><a class="friend" href="#friend&amp;id=42300003" data-id="42300003"><img class="friend-img"
                                                                                     src="https://pp.vk.me/c629330/v629330003/3cd0/9lS5aHfJUnY.jpg"><span
                class="track-title">Чебнев Слава</span></a></li>
        <li><a class="friend" href="#friend&amp;id=63907628" data-id="63907628"><img class="friend-img"
                                                                                     src="https://pp.vk.me/c638316/v638316628/3b75/fDtTpueFabk.jpg"><span
                class="track-title">Кирякин Рома</span></a></li>
        <li><a class="friend" href="#friend&amp;id=65916579" data-id="65916579"><img class="friend-img"
                                                                                     src="https://pp.vk.me/c301815/v301815579/5aa3/FZwZaWw26Zo.jpg"><span
                class="track-title">Бессонов Артём</span></a></li>
    </ul>
</section>