.to-top-button {
    position: fixed;
    right: 10px;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.to-top-button.cd-is-visible, .to-top-button.cd-fade-out, .no-touch .to-top-button:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.to-top-button.cd-is-visible {
    /* the button becomes visible */
    visibility: visible;
    opacity: 1;
}
.to-top-button.cd-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    opacity: .5;
}
